{% extends 'homepage/index.html' %}

{% block content %}
      <div class="row pb-3">
         <div class="col-sm-12">
           <p class="text-center"> Inserisci Indirizzo IP </p>
         </div>
      </div>
      <div class="row pt-12">
        <div class="col-sm-4"></div>
        <div class="text-center col-sm-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"> IP </span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row pt-4"></div>
      <div class="row pt-4">
        <div class="text-center col-sm-12">
          <button type="button" class="btn btn-primary btn-lg" href="#" role="button">Okay</button>
        </div>
      </div>
{% endblock %}
